.color-box {
    align-items: center;
    border-radius:10px;
    border-style: solid;
    border-width: thin;
    height:160px;
    margin: 1rem;
    overflow:hidden;
    padding:0;
    width:200px;
}

.color-box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}


.color-header {
    border-bottom: solid thin;
    height:40px;
    width:100%;
}

.color-rank {
    background-color:white;
    border-radius:100%;
    border: solid thin;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    height:40px;
    justify-content: center;
    left:10px;
    position:absolute;
    text-align:center;
    top:10px;
    width:40px;
}

.color-body {
    display: flex;
    margin-top :18px;
}

.color-details {
    margin-left:30px;
}

.all-colors {
    display: flex;
    margin: 0 auto;
    margin-bottom:100px;
    width: 85%;

}

.all-colors p {
    font-weight: 600;
    margin:0;
    padding:5px 0;
    text-transform: uppercase;
}

.image-display {

    background-color:red;
}

.resized-img {
    border-radius: .25rem;
    display: block;
    height:400px;

    margin: 0 auto 100px;
    object-fit: contain
    width:740px;
 }



.row {
    margin: 0 auto;
}


.color-palette {
    border-radius:10px;
    border: solid thin rgba(0, 0, 0, .2);
    box-shadow: rgba(128, 128, 128, 0.2) 0px 8px 24px;
    display: flex;
    height:300px;
    margin:  auto;
    overflow:hidden;
    width: 300px;

}

.color-place {
    height:100%;
    width:50%;


}


.inner-body {
    background-color:#ffffff;
    margin:0 auto;
    padding: 180px 0;
    width:1100px;

}

body {
    background-color:#e6ebf2;
    margin:0;

}

h1 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom:50px;
    text-align:center;
}





@media (max-width: 1280px) {

.inner-body {
    width:600px;

    }


.resized-img {

    height:100%;
    width:80%;
}

}


.custom-form {
    width:80%;
    margin:auto;
    text-align: center;
}

#image_file {
    margin:auto;
    padding: 10px 0;
}


.example-palette {
display: block;

    margin: 0 auto 50px;
}


