{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Upload your image{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}




{% block content %}

<div class="inner-body">

    <h1>Welcome to my color palette website</h1>


    <img class="example-palette" src="{{url_for('.static', filename='img/example.png')}}">

    <div class="custom-form">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class=flashes>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <!-- WTForm goes here -->
        {{ wtf.quick_form(form) }}
    </div>

</div>

{% endblock %}